[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
numpy = "*"
pyepw = "*"
pytest = "*"
windrose = "*"

[dev-packages]

[requires]
python_version = "3.6"
